[Unit]
Description=Celery Service
After=network.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/ummbsummer/site/backend
Environment="PATH=/home/opc/ummbsummer/site/backend/venv/bin"
ExecStart=/home/opc/ummbsummer/site/backend/venv/bin/celery -A ummbsummer worker --loglevel=info
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target