[Unit]
Description=gunicorn daemon for Django
After=network.target

[Service]
User=opc
Group=nginx
WorkingDirectory=/home/opc/ummbsummer/site/backend
ExecStart=/bin/bash -c '/home/opc/ummbsummer/site/backend/venv/bin/gunicorn --access-logfile - --workers 3 --bind 127.0.0.1:8000 ummbsummer.wsgi:application'

[Install]
WantedBy=multi-user.target
